{
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": ["eslint:recommended", "airbnb-base"],
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "no-console": 1,
    "prefer-arrow-callback": 0,
    "func-names": 0,
    "global-require": 0,
    "no-underscore-dangle": 0,
    "object-shorthand": ["error", "never"],
    "newline-per-chained-call": 0,
    "max-len": [
      "error",
      120,
      2,
      {
        "ignoreUrls": true,
        "ignoreComments": false,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ]
  }
}
